@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/mixins";

$theme-color: #E10098; //lighten($brand-primary, 45%);
$text-color: rgb(48, 48, 48);
$text-color-active: #000000;
$border-color: #D4D4D4;
$background-color: #fafafa;
$background-active-color: #536685;
$header-background-color: $gray-darker; //lighten($background-color, 2%);
$editor-background-color: darken($background-color, 3%);

$input-color-placeholder: $gray-light;
$input-bg-disabled: lighten($background-color, 3%);
$input-color: $text-color;
$page-header-border-color: $gray-light;

.label-primary {
  @include label-variant($theme-color);
}
