.ProjectList {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ProjectListContent {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: $background-color;
  color: rgba(255, 255, 255, 0.77);
}
