.UrlEditor {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: $background-color;
  border: 1px solid $border-color;
  border-radius: 4px;
}

.UrlEditorSection {
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  padding: 15px;
}

.UrlEditorFooter {
  padding: 15px;
}
